#mugshots {
    text-align: center;
}

.mugwrapper {
    margin-bottom: 0.5em;
}

.badge {
    transform: translateY(-75%) translateX(-50%) !important;
}

#searchwrapper {
    padding-top: 1em;
    padding-bottom: 1em;
    max-width: 400px;

}
.faded {
    opacity: 0.2
}

.mugshot {
    cursor: pointer;
}

.snippet {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    margin-left: 2em;
}

#person_description {
    font-size: 80%;
}


body {
    overflow-y: scroll;
}
h5 a {
    color: black;
    text-decoration: none;
}

h5 a:hover {
    color: black;
    text-decoration: underline;
}

h5 {
    font-size:120%;
}

.keyterm {
    font-size:70%;
    color:#BBB;
    cursor: pointer;
}

.keyterm:hover {
    color: black;
    font-weight: bold;
}


.highlightterm {
    color: black;
    font-size:75%;
    font-weight: bold;
}

#keyterms {
    line-height: 50%;
    text-align: center;
}